.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    margin: 20px;
    width: 60%;
    background: #C5C6C7;
}

.subject {
    border-bottom: solid black 1px;
}