<div>
    <div class="about">
        <article>
            <h2>About</h2>
            <p>
                Code Name BlaxkSyntax, a curious and creative cat, Who driven by success. <br>
                I find focus, handworkd, consistency, honesty and a will to learn to be the most valueble qualities. <br>
                I Studied Systems Development at WeThinkCode.<br>
                I'm a fullstack systems developer
            </p>
        </article>
    </div>
    <div class="skills">
        <article>
            <h2>Skills</h2><br>
            <b>Python</b><br>
            <b>Java</b><br>
            <b>Android-Studio</b><br>
            <b>JavaScript</b><br>
            <b>scala</b><br>
            <b>C++</b><br>
            <b>C</b><br>
            <b>flutter</b><br>
            <b>Sql</b><br>
            <b>Docker</b><br>
        </article>
    </div>
    <div class="interests">
        <article>
            <h2>Interests</h2>
            <p>
                Im interested in the development for smart systems, Artifictial Intelligence, and Intelligent Automation
            </p>
        </article>>
    </div>
</div>
