<div class="contact-form">
    <form action="/contact" method="post">
        <div ngClass="name">
            <div>
                <label for="name">Name</label>
            </div>
            <div>
                <input type="text" name="name" id="name" placeholder="First Name">
                <input type="text" name="surname" id="surname" placeholder="Last Name">
            </div>
        </div>
        <div ngClass="email">
            <div>
                <label for="email">Email</label>
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
        </div>
        <div ngClass="phone">
            <div>
                <label for="tel">Phone Number</label>
            </div>
            <div>
                <input type="tel" name="tel" id="tel" placeholder="Phone Number">
            </div>
        </div>
        <div ngClass="msg">
            <div>
                <label for="msg">Massage</label>
            </div>
            <div>
                <input type="text" name="msg" id="msg" placeholder="Message">
            </div>
        </div>
    </form>
</div>
