<div class="contacts">
    <div class="contact-content">
        <div class="contact">
            <div class="contact-header">
                <h1>Contact Me</h1>
            </div>
            <div class="contact-main">
                <ul>
                    <li>
                        <div class="icon-label">
                            <p>&#9742; <b>Phone : </b>0780531077</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-label">
                            <p>&#64; <b>Email : </b>sdubazana.dev@gmail.com</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-label">
                            <p>&#9906;<b>Address : </b>2782 Tunzi Street Moroka 1818</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="social-media">
            
        </div>
        <div class="message">
            <div class="message-header">
                <h1>Send A Message</h1>
            </div>
            <div class="message-main">
                <form [formGroup]="form" (ngSubmit)="submitform()">
                    <div class="name-container">
                        <div>
                            <input type="text" formControlName="name" id="name" placeholder="name">
                        </div>
                        <div>
                            <input type="text" formControlName="surname" id="surname" placeholder="surname">
                        </div>
                    </div>
                    <div class="email-container">
                        <input type="text" formControlName="email" id="email" placeholder="Email">
                    </div>
                    <div class="subject-container">
                        <input type="text" formControlName="subject" id="subject" placeholder="Subject">
                    </div>
                    <div class="message-container">
                        <textarea formControlName="msg" id="message" cols="30" rows="10" placeholder="message"></textarea>
                    </div>
                    <div class="submit-container">
                        <input type="submit" value="Send" id="send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
