<div class="intro">
    <div class="name">
        <div>
            <h1>SIHLE DUBAZANA</h1>
            <p>SOFTWARE ENGINEER & UX/UI DESIGNER</p>
        </div>
    </div>
    <div class="img">
        <div>
            <img width="100px" height="100px" alt="Home" src="/assets/images/1604399550770.jpeg"/>
        </div>
    </div>
</div>
<div class="portfolio">
    <div class="projects-header">
        <p><b>featured</b> portfolio projects</p>
    </div>
    <div class="projects">
        <div class="pro-center">
            <div>
                <mat-card>
                    <mat-card-title>Expenses tracker</mat-card-title>
                    <mat-card-subtitle>Angular</mat-card-subtitle>
                    <mat-card-actions>
                        <a href="https://github.com/BlaxkSyntax/Expenses-tracker-app" target="_blank"><button mat-button>Repository</button></a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-title>code breaker</mat-card-title>
                    <mat-card-subtitle>flutter</mat-card-subtitle>
                    <mat-card-actions>
                        <a href="https://github.com/BlaxkSyntax/code-breaker" target="_blank"><button mat-button>Repository</button></a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-title>todo list</mat-card-title>
                    <mat-card-subtitle>android</mat-card-subtitle>
                    <mat-card-actions>
                        <a href="https://github.com/BlaxkSyntax/todo-list" target="_blank"><button mat-button>Repository</button></a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="more">
        <a href="https://github.com/BlaxkSyntax" target="_blank"><p>More Projects</p></a>
    </div>
</div>